<h4>Insertar nueva película</h4>

<p>	
<form action="http://localhost:3000/movies/new" method="post">
	Nombre de la película:
	<input type="text" name="title">
	<br>
	Año de producción: 
	<input type="text" name="year">
	<br>
	<input type="submit" value="Enviar">
</form>	
</p>